<div class="container border">
  <div class="row">
      <h1>Current Registered Users in the System</h1>
    <div class="col-sm" *ngFor="let user of allUser">
      <div class="row">
        <div class="col">
          <h5>Address1: </h5>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Address2:</h5>
        </div>
        <div class="col">
       
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>City:</h5>
        </div>
        <div class="col">
     
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>State:</h5>
        </div>
        <div class="col">
       
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Zip Code:</h5>
        </div>
        <div class="col">
       
        </div>
      </div>
      <div class="row">
        <div class="col">
        
        </div>
        <div class="col">
      
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Rating:</h5>
        </div>
        <div class="col">
   
        </div>
      </div>
      <div class="row">
        <div class="col">
   
        </div>
        <div class="col">
    
        </div>
      </div>
      <br>
      <button class="btn btn-danger" (click)= "deleteUser(user)" >Delete User</button>
    </div>
  </div>
</div>

