<div  class="col-md-12">
    <h3 class="text-center">GroundBnB is a housing rental service for people who need temporary shelter anywhere in the US.</h3>
    <h3></h3>
    <h4 class="text-center">Prospective renters can choose from our wide selection of properties.</h4>
    <h4 class="text-center">Just select one of our available properties and choose your time you wish to stay.</h4>
    <br>
    <h4 class="text-center">Property owners can easily put up their own properties and receive a 30% cut for no effort on your part.</h4>
    <h4 class="text-center">You may provide renters the key, or let us handle that for you.</h4>
    <h4 class="text-center">Email us at groundbnb@ground.com for questions about our service.</h4>
</div>