<h2 class="titleSpacing">
  Register Your Property
</h2>

<form name="form">

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Address Line 1</label>
        <input class="form-control" type="text" name="address1" style="width:100%" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Address Line 2</label>
        <input class="form-control" type="text" name="address2" style="width:100%" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" style="width:100%" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" name="state" style="width:100%" />
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Renting Price</label>
        <input type="text" class="form-control" name="rentingPrice" style="width:100%" />
      </div>
    </div>
  </div>

  <div class="form-check">
      <label class="form-check-label">Is the property available?</label>
      <label class="radio-inline"><input type="radio" name="isAvailable">Yes</label>
      <label class="radio-inline"><input type="radio" name="isAvailable"> No</label>

  </div>

  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary submitSpacing">Submit</button>
    </div>
  </div>

</form>
