<h2 class="titleSpacing">
  Register Your Property
</h2>

<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address1.valid }">
        <label>Address Line 1</label>
        <input id ="address1" class="form-control" type="text" name="address1" style="width:100%" [(ngModel)]="model.address1" #address1="ngModel" required />
        <div *ngIf="f.submitted && !address1.valid" class="help-block">An address is required!</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Address Line 2</label>
        <input id ="address2" class="form-control" type="text" name="address2" style="width:100%" [(ngModel)]="model.address2" #address2="ngModel"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
        <label>City</label>
        <input id ="city" class="form-control" type="text" name="city" style="width:100%" [(ngModel)]="model.city" #city="ngModel" required />
        <div *ngIf="f.submitted && !city.valid" class="help-block">Please enter a city.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !state.valid }">
          <label>State</label>
          <input id ="state" type="text" class="form-control" name="state" style="width:100%" [(ngModel)]="model.state" #state="ngModel" required />
          <div *ngIf="f.submitted && !state.valid" class="help-block">Please enter a state.</div>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zipcode.valid }">
            <label>Zip Code</label>
            <input id ="zipcode" type="text" class="form-control" name="zipcode" style="width:100%" [(ngModel)]="model.zipcode" #zipCode="ngModel" required />
            <div *ngIf="f.submitted && !zipcode.valid" class="help-block">Enter your zip code.</div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
        <label>Renting Price</label>
        <input id ="currentRentPrice" type="text" class="form-control" name="currentRentPrice" style="width:100%" [(ngModel)]="model.currentRentPrice" #currentRentPrice="ngModel" required />
        <div *ngIf="f.submitted && !currentRentPrice.valid" class="help-block">Enter your rental price.</div>
      </div>
    </div>
  </div>

  <div class="form-check">
      <label class="form-check-label">Is the property available?</label>
      <label class="radio-inline"><input type="radio" name="isAvailable" [value] = "1" [(ngModel)]="model.availability">Yes</label>
      <label class="radio-inline"><input type="radio" name="isAvailable" [value] = "0" [(ngModel)]="model.availability" [checked]="checked"> No</label>
  </div>

  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
      <button type="submit" [disabled]="loading" class="btn btn-primary submitSpacing">Submit</button>
    </div>
  </div>

</form>
