<div class='container-fluid'>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="">·Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/register">·New User   </a>
            <a class="nav-item nav-link" href="/register-property">·Register Property</a>
            <a class="nav-item nav-link" href="/Properties">·View Property Listings</a>
            <a class="nav-item nav-link" href="/my-properties">·View My Properties</a>
            <a class="nav-item nav-link" href="/rating">·Rate Your Stay</a>
            <a class="nav-item nav-link" *ngIf = "isEmployee()" href="/editUsers">·Edit Users</a>
            <a class="nav-item nav-link" [routerLink]="['/login']"(click)="logout()">·Logout</a>
          </div>
        </div>
      </nav>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
