<div class="container border">
  <div class="row">
      <h1>Your Current Properties</h1>
    <div class="col-sm" *ngFor="let mypro of myProperties">
      <div class="row">
        <div class="col">
          <h5>Address1: </h5>
        </div>
        <div class="col">
          <p>{{mypro.address1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Address2:</h5>
        </div>
        <div class="col">
          <p>{{mypro.address2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>City:</h5>
        </div>
        <div class="col">
          <p>{{mypro.city}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>State:</h5>
        </div>
        <div class="col">
          <p>{{mypro.state}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Zip Code:</h5>
        </div>
        <div class="col">
          <p>{{mypro.zipcode}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Current Rental Price:</h5>
        </div>
        <div class="col">
          <p>{{mypro.current_Rent_Price | currency}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Rating:</h5>
        </div>
        <div class="col">
          <p>{{mypro.rating}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Availability:</h5>
        </div>
        <div class="col">
          <p>{{mypro.availability}}</p>
        </div>
      </div>
      <br>
      <button class="btn btn-danger" (click)= "deletePro(mypro)" >Delete Property</button>
    </div>
  </div>
</div>
