<div class="container border">
  <div class="row">
    <div class="col-sm border card">
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <h5>Address1:</h5>
        </div>
        <div class="col">
          <p>123 main st</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Address2:</h5>
        </div>
        <div class="col">
          <p>suite 123</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>City:</h5>
        </div>
        <div class="col">
          <p>Reston</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>State:</h5>
        </div>
        <div class="col">
          <p>VA</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Zip Code:</h5>
        </div>
        <div class="col">
          <p>20170</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Rent Price:</h5>
        </div>
        <div class="col">
          <p>3000</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Rating:</h5>
        </div>
        <div class="col">
          <p>3.0</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Availability:</h5>
        </div>
        <div class="col">
          <p>It is available</p>
        </div>
      </div>
      <br>
      <button  class="btn btn-danger" >Delete Property</button>
    </div>
  </div>
</div>
