<div class="container border">
  <div class="row">
      <h1>Your Current Properties</h1>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Address1</th>
        <th>Address2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mypro of myProperties">
        <td>{{mypro.address1}}</td>
        <td>{{mypro.address2}}</td>
        <td>{{mypro.city}}</td>
        <td>{{mypro.state}}</td>
        <td>{{mypro.zipcode}}</td>
        <td>{{mypro.currentRentPrice}}</td>
        <td>{{mypro.rating}}</td>
        <td><button class="btn btn-danger" (click)= "deletePro(mypro)" >Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

